.btn,
.uk-button {
  border: 0px;
  @include box-shadow($shadow-light);
  @include transition(
    color,
    background-color,
    background,
    box-shadow,
    transform,
    top,
    border-radius,
    border-color,
    filter,
    text-shadow
  );

  &.uk-button-default {
    background: $button-img center center / cover no-repeat;
    color: #fff;
  }

  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
  }
}
