footer {
  padding-bottom: 25px;
  .uk-section-primary {
    background: $footer-img center bottom / cover no-repeat !important;
        @include box-shadow($shadow);
    border-radius: 25px;
    overflow: hidden;
    margin: 0px 25px;

    #footer\#0 {
      background: none;
    }
  }
}
