@use "variables" as *;
@use "mixins" as *;
.uk-label {
  border-radius: $border-radius-main;
  @include box-shadow($shadow);
  &.uk-label-secondary {
    background: $color-secondary;
  }
  &.uk-label-muted {
    background-color: transparent;
    box-shadow: unset;
  }
}
