@use "variables" as *;
@use "mixins" as *;
body {
    background: url(https://sagutid.nl/images/yootheme/photo-1531685250784-7569952593d2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    margin: 0px;
    padding: 0px;
    margin-top: -13px;

  &.wijsheden {
    background: url(https://sagutid.nl/images/yootheme/photo-1487147264018-f937fba0c817.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: unset !important;
  }

  & .uk-section-default{
    background: transparent !important;
  }

  .tm-cookie-banner {
    z-index: 9999;
    @include box-shadow($shadow);
    border-radius: $border-radius-main;
    overflow: hidden;
    .uk-button{
      &.uk-button-default{
        background:transparent !important;
        background-color:#fff !important;
        color:$color-primary !important;
      }
    }
  }

  #sagu-text.columns {
    column-count: 1;
    @media (min-width: 960px) {
      column-count: 2;
      column-gap: 2rem;
    }
  }
}
