@use "sass:list";
@import "variables";
@import "mixins";
@import "icon-base";
@import "keyframes";
@import "layout";
@import "header";
@import "card";
@import "icon";
@import "toolbar-socials";
@import "labels";
@import "buttons";
@import "offcanvas";
@import "banners";
@import "panels";
@import "footer";

em,
i {
  color: $color-primary;
  font-family: "McLaren", sans-serif;
  font-size: 0.9rem;
}

.uk-nav img,
nav img {
  display: none;
}

.uk-section-muted {
  %icon-base {
    color: $color-primary;
  }
}
